.SkillsBlock {
    height: 100%;
    background-color: darkcyan;
}

.SkillsContainer {
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.Title {
    background-color: dimgray;
}

.Skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}