.Skill {
    width: 250px;
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin: 5px;
}

.Icon {
    height: 60px;
    width: 60px;
    background-color: brown;
}

