.Main {
    background-color: burlywood;
    height: 100vh;

}

.Greeting {
    width: 300px;
    background-color: dimgray;
}

.Photo {
    width: 300px;
    height: 400px;
    background-color: cornflowerblue;
}