.Main {
    height: 100%;

}

.Greeting {
    width: 300px;
    background-color: dimgray;
}

.Photo {
    width: 300px;
    min-width: 200px;
    height: 400px;
    background-color: cornflowerblue;
}