.FooterContainer {
    width: 100%;
    min-height: 100%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: darksalmon;
}

.Footer {
    width: 30%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Name {
    background-color: dimgray;
}

.Social {
    border: 1px solid;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.Thumbnail {
    height: 50px;
    width: 50px;
    background-color: brown;
    margin: 2px;
}

.Copyright {
    font-weight: bold;
    margin-bottom: 10px;
}