.ProjectsBlock {
    height: 100%;
    background-color: lightskyblue;
}

.ProjectsContainer {
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.Title {
    background-color: dimgray;
}

.Projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}